# --- iOS CocoaPods ---
iosApp/Pods/
iosApp/Podfile.lock
!iosApp/Podfile

# --- Xcode ---
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
build/
.DS_Store

# --- Android ---
*.iml
.gradle/
.idea/
local.properties
**/build/
captures/

# --- Kotlin Multiplatform ---
.kotlin/
.cxx/
.externalNativeBuild/

/composeApp/google-services.json
/iosApp/iosApp/GoogleService-Info.plist

/composeApp/release/
